<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hivescm.code.mapper.CodeItemMapper">
  <resultMap id="BaseResultMap" type="com.hivescm.code.bean.CodeItemBean">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sequence" jdbcType="TINYINT" property="sequence" />
    <result column="serial_type" jdbcType="TINYINT" property="serialType" />
    <result column="code_id" jdbcType="BIGINT" property="codeId" />
  </resultMap>

  <sql id="base_Column_List">
    id, code_type, code_column, code_longth, sequence, is_serial, serial_type,
    fill_pattern,fill_str,code_id
  </sql>

</mapper>