<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hivescm.code.mapper.CodeRuleMapper">
    <sql id="base_insert_list">
        id,
        rule_level,
        group_id,
        biz_code,
        rule_code,
        rule_name,
        code_way,
        break_code,
        zero_reason,
        is_defaulte,
        is_cover,
        time_format,
        total_lenght,
        create_user,
        create_time
    </sql>

    <insert id="addCodeRule" parameterType="com.hivescm.code.bean.CodeRuleBean" useGeneratedKeys="true" keyProperty="bean.id">
        INSERT INTO base_code_rule
        (
        <include refid="base_insert_list"/>
        )VALUES
        (
        #{bean.id},
        #{bean.ruleLevel},
        #{bean.groupId},
        #{bean.bizCode},
        #{bean.ruleCode},
        #{bean.ruleName},
        #{bean.codeWay},
        #{bean.breakCode},
        #{bean.zeroReason},
        #{bean.defaulted},
        #{bean.cover},
        #{bean.timeFormat},
        #{bean.totalLenght},
        #{bean.createUser},
        #{bean.create_time}
        )
    </insert>

    <!--依据业务编码删除编码规则-->
    <delete id="deleteByIds">
        delete from base_code_rule where id in
        <foreach collection="ruleIds" item="ruleId" open="(" separator="," close=")">
            #{ruleId}
        </foreach>
    </delete>

    <select id="queryRuleIdsByBizCode" parameterType="string" resultType="integer">
        select id from base_code_rule where biz_code = #{bizCode}
    </select>
</mapper>