<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hivescm.code.mapper.CodeRuleMapper">
    <sql id="base_insert_list">
        id,
        group_id,
        biz_code,
        rule_code,
        rule_name,
        code_way,
        break_code,
        zero_reason,
        is_default,
        is_cover,
        time_format,
        total_lenght,
        create_user,
        create_time
    </sql>

    <!--新增编码规则-->
    <insert id="addCodeRule" parameterType="com.hivescm.code.bean.CodeRuleBean" useGeneratedKeys="true" keyProperty="bean.id">
        INSERT INTO base_code_rule
        (
        <include refid="base_insert_list"/>
        )VALUES
        (
        #{bean.id},
        #{bean.groupId},
        #{bean.bizCode},
        #{bean.ruleCode},
        #{bean.ruleName},
        #{bean.codeWay},
        #{bean.breakCode},
        #{bean.zeroReason},
        #{bean.defaulted},
        #{bean.cover},
        #{bean.timeFormat},
        #{bean.totalLenght},
        #{bean.createUser},
        #{bean.createTime}
        )
    </insert>

    <!-- 更新其它为非默认状态 -->
    <update id="updateOtherNoDefault">
        update base_code_rule set is_default = 0 where  group_id=#{groupId} and biz_code=#{bizCode}
    </update>

    <select id="queryConflicRuleName" resultType="com.hivescm.code.bean.CodeRuleInfoBean">
        select * from base_code_rule where group_id in(1, #{groupId}) and rule_name=#{ruleName} limit 1
    </select>

    <!--依据业务编码删除编码规则-->
    <delete id="deleteByIds">
        delete from base_code_rule where id in
        <foreach collection="ruleIds" item="ruleId" open="(" separator="," close=")">
            #{ruleId}
        </foreach>
    </delete>

    <!--根据业务编码查询编码规则（锁）-->
    <select id="queryDefaultedRuleByBizCodeLock" resultType="com.hivescm.code.bean.CodeRuleBean">
        select
        id,
        group_id as groupId,
        biz_code as bizCode,
        rule_code as ruleCode,
        rule_name as ruleName,
        code_way as codeWay,
        break_code as breakCode,
        zero_reason as zeroReason,
        is_default as defaulted,
        is_cover as cover,
        time_format as timeFormat,
        total_lenght as totalLenght
        from base_code_rule
        where biz_code = #{bizCode} and group_id=#{groupId} and is_default = 1
        for update
    </select>

    <!--根据规则ID查询编码规则（锁）-->
    <select id="queryRuleByIdLock" parameterType="integer" resultType="com.hivescm.code.bean.CodeRuleBean">
        select
        id,
        group_id as groupId,
        biz_code as bizCode,
        rule_code as ruleCode,
        rule_name as ruleName,
        code_way as codeWay,
        break_code as breakCode,
        zero_reason as zeroReason,
        is_default as defaulted,
        is_cover as cover,
        time_format as timeFormat,
        total_lenght as totalLenght
        from base_code_rule
        where id = #{id}
        for update
    </select>

    <!--根据业务编码查询编码规则ID集合-->
    <select id="queryRuleIdsByBizCode" parameterType="string" resultType="integer">
        select id from base_code_rule where biz_code = #{bizCode}
    </select>
</mapper>
