<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hivescm.codeid.mapper.SeriaNumberMapper">
  <resultMap id="BaseResultMap" type="com.hivescm.codeid.pojo.SeriaNumber">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code_id" jdbcType="BIGINT" property="codeId" />
    <result column="flow_by1" jdbcType="VARCHAR" property="flowBy1" />
    <result column="flow_by2" jdbcType="VARCHAR" property="flowBy2" />
    <result column="current_max_num" jdbcType="VARCHAR" property="currentMaxNum" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code_id, flow_by1, flow_by2, current_max_num, org_id
  </sql>

  <select id="getCurrentSeriaNumber"  resultType="string">
      SELECT
         current_max_num
      FROM
         base_seria_number
      where code_id=#{0} and org_id=#{1}
  </select>

  <select id="getAllSeriaNumber"  resultMap="BaseResultMap">
     SELECT
       <include refid="Base_Column_List" />
     FROM
        base_seria_number
  </select>

  <select id="getCurrentByTwoFlowColumnMaxNum" resultType="java.lang.String">
      SELECT
        current_max_num
      FROM base_seria_number
      WHERE flow_by1=#{0} AND flow_by2=#{1} AND org_id=#{3} AND code_id=#{2}
  </select>

  <select id="getCurrentByOneFlowColumnMaxNum" resultType="java.lang.String">
      SELECT
        current_max_num
      FROM base_seria_number
      WHERE flow_by1=#{0} AND flow_by2=NULL AND org_id=#{2} AND code_id=#{1}
  </select>

  <select id="getCurrentByNoFlowColumnMaxNum" resultType="java.lang.String">
     SELECT
        current_max_num
     FROM base_seria_number
     WHERE flow_by1=NULL AND flow_by2=NULL AND org_id=#{1} AND code_id=#{0}
  </select>


  <select id="getSeriaNumberByOrgIdAndCodeId" resultMap="BaseResultMap">
     select
        <include refid="Base_Column_List" />
     from base_seria_number
     where code_id =#{0} and org_id=#{1}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_seria_number
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from base_seria_number
    where id = #{0}
  </delete>
  <insert id="insert" parameterType="com.hivescm.codeid.pojo.SeriaNumber">
    insert into base_seria_number (id, code_id, flow_by1,
      flow_by2, current_max_num, org_id)
    values (#{seriaNumber.id,jdbcType=BIGINT}, #{seriaNumber.codeId,jdbcType=BIGINT}, #{seriaNumber.flowBy1,jdbcType=VARCHAR},
      #{seriaNumber.flowBy2,jdbcType=VARCHAR}, #{seriaNumber.currentMaxNum,jdbcType=VARCHAR}, #{seriaNumber.orgId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hivescm.codeid.pojo.SeriaNumber">
    insert into base_seria_number
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="codeId != null">
        code_id,
      </if>
      <if test="flowBy1 != null">
        flow_by1,
      </if>
      <if test="flowBy2 != null">
        flow_by2,
      </if>
      <if test="currentMaxNum != null">
        current_max_num,
      </if>
      <if test="orgId != null">
          org_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{seriaNumber.id,jdbcType=BIGINT},
      </if>
      <if test="codeId != null">
        #{seriaNumber.codeId,jdbcType=BIGINT},
      </if>
      <if test="flowBy1 != null">
        #{seriaNumber.flowBy1,jdbcType=VARCHAR},
      </if>
      <if test="flowBy2 != null">
        #{seriaNumber.flowBy2,jdbcType=VARCHAR},
      </if>
      <if test="currentMaxNum != null">
        #{seriaNumber.currentMaxNum,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{seriaNumber.orgId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hivescm.codeid.pojo.SeriaNumber">
    update base_seria_number
    <set>
      <if test="codeId != null">
        code_id = #{seriaNumber.codeId,jdbcType=BIGINT},
      </if>
      <if test="flowBy1 != null">
        flow_by1 = #{seriaNumber.flowBy1,jdbcType=VARCHAR},
      </if>
      <if test="flowBy2 != null">
        flow_by2 = #{seriaNumber.flowBy2,jdbcType=VARCHAR},
      </if>
      <if test="currentMaxNum != null">
        current_max_num = #{seriaNumber.currentMaxNum,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        "org_id" = #{seriaNumber.orgId,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{seriaNumber.id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hivescm.codeid.pojo.SeriaNumber">
    update base_seria_number
    set code_id = #{seriaNumber.codeId,jdbcType=BIGINT},
      flow_by1 = #{seriaNumber.flowBy1,jdbcType=VARCHAR},
      flow_by2 = #{seriaNumber.flowBy2,jdbcType=VARCHAR},
      current_max_num = #{seriaNumber.currentMaxNum,jdbcType=VARCHAR},
      "org_id" = #{seriaNumber.orgId,jdbcType=VARCHAR}
    where id = #{seriaNumber.id,jdbcType=BIGINT}
  </update>

  <update id="updateFlowNum">
        update
            base_seria_number
        set
         current_max_num = #{0}
        where id = #{1}
  </update>
</mapper>